<ng-template [ngIf]="display" [ngIfElse]="loading">
  <div id="line-chart" style="display: block">
    <canvas baseChart
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [chartType]="linesChartType" height="450" width="800"></canvas>
  </div>
  </ng-template>
  <ng-template #loading >
    <div *ngIf="loading" class="d-flex justify-content-center" draggable="true" >
      <div class="spinner-border  .m-15 "  role="status" >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  
    
   </ng-template>
   <div *ngIf="errorMessage" class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
      {{errorMessage}}
  </div>