
<%- include("layout.ejs") %>


<div class="container">
    <h3 class="muted">Welcome to Squid Proxy-core</h3>
    <hr />
    <div class="jumbotron">
        <p class="lead">Configure acl's</p>
        <p class="lead">View the Configure acl configs</p><a class="btn btn-large btn-success" href="/acl/rules/">ACL </a>
    </div>
    <hr />
    <div class="row-fluid marketing">
        <div class="span6">
            <h4>View the acl configs</h4><img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-starter.jpg" alt="">
            <p>View All of the configured ACL rules for squid proxy. &nbsp;<a href="/ac/rules">View&gt;&gt;</a></p>
            <h4>Update Configs of squid servers</h4><img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-fluid.jpg" alt="">
            <p>Update squid config. &nbsp;<a href="/config">View&gt;&gt;</a></p>
            <h4>Sign in</h4><img src="http://twitter.github.com/bootstrap/assets/img/examples/bootstrap-example-signin.png" alt="">
            <p>Barebones sign in form with custom, larger form controls and a flexible layout. &nbsp;<a href="/signin">View&gt;&gt;</a></p>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>