<div class="title">Domain URL Checker</div>

<form  [formGroup]="domainUrlCheckForm">
<mat-card  align="center">
    <mat-card-content>
        <h2 class="example-h2">Domain Url Search</h2>
  
      <section class="example-section">
        <label class="example-margin">DomainUrl:</label>
         <mat-form-field hintLabel="Enter url to unblock" appearance="fill">
            <mat-label>Enter Domain Url to unblock</mat-label>
            <input matInput #inputDomainurl placeholder="Ex. www.walgreens.com" formControlName="url" >
            <mat-hint align="end">{{inputDomainurl.value?.length || 0}}/100</mat-hint>
          </mat-form-field>
        
    
    
    

        <mat-form-field >
            <input matInput placeholder="Search" style="display:inline; width:200px" formControlName="keyword">
        </mat-form-field>
       
        <mat-form-field>
            <mat-label>Choose if Url is blocked/unblock/update</mat-label>
            <mat-select formControlName="action" >
              <mat-option *ngFor="let action of actions" [value]="action" >
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </section>
      <section>  
          <div class="form-button-row">     
          <button id="submitId" mat-raised-button color="primary" 
          [disabled]="!domainUrlCheckForm.valid" 
                    (click)="submitUrl()">Submit</button>
          <button
                  id="reset-button" mat-raised-button color="primary"
                  type="reset" (click)="resetForm()">
                  Reset 
                </button>
            </div>
            </section>

            <mat-error *ngIf="domainUrlCheckForm.hasError('error_key')">
                My custom error message
            </mat-error>

    </mat-card-content>
  </mat-card>  
</form>
